{% extends "base.html" %}

{% block title %}Contact Me{% endblock %}

{% block content %}
    <h1>Contact Me</h1>
    <form method="post">
        <div class="input-field">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="input-field">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input-field">
            <label for="message">Message:</label>
            <textarea id="message" name="message" class="materialize-textarea" required></textarea>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Send</button>
    </form>
    <p>{{ message }}</p>
    <div>
        <a href="https://github.com/gggg8657" target="_blank" class="btn-floating btn-large waves-effect waves-light black">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/dongju_kim_/" target="_blank" class="btn-floating btn-large waves-effect waves-light pink">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
{% endblock %}