{% extends "base.html" %}

{% block title %}My Projects{% endblock %}

{% block content %}
    <h1>My Projects</h1>
    
    <h2>Research Projects</h2>
    <div class="row">
        <!-- Research Project 1 -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/ABAC_based_file_access_control.png') }}">
                    <span class="card-title custom-card-title" style="color:rgb(255, 0, 0)">파일 접근 제어 및 관제 프레임워크</span>
                </div>
                <div class="card-content">
                    <p>기간 : 2021.03 ~ 2022.12 <br>
                        파일 접근 제어 및 관제 : MS Detours <br>
                        파일 접근 제어 규칙 생성 : D3 Decision Tree <br>
                        파일 접근 제어 규칙 기준 : Attribute Based Access Control [ABAC]
                    </p>
                </div>
                <div class="card-action">
                    <a href="#" target="_blank">View Project</a>
                </div>
            </div>
        </div>
        <!-- Research Project 2 -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/CAD_Project_Structure.png') }}">
                    <span class="card-title custom-card-title" style="color:black">ICT 인프라 데이터 (CAD) 기반 빅데이터 플랫폼 구축</span>
                </div>
                <div class="card-content">
                    <p>기간 : 2023.03 ~ 2023.11 <br>
                        ICT 인프라 데이터 (CAD) 데이터 활용 <br>
                        파이썬을 활용한 도면 내부 데이터 접근, 도면 분석, 도면 데이터 추출 등 기능 연구 개발 수행 <br>
                        대용량 데이터 처리 및 분석을 위한 빅데이터 플랫폼 구축 : MongoDB, Mongo Atlas <br>
                        도면 -> 이미지 변환 기반 유사 도면 추천 시스템 구현 : VGG16, TF-IDF 활용
                    </p>
                </div>
                <div class="card-action">
                    <a href="#" target="_blank">View Project</a>
                </div>
            </div>
        </div>
        <!-- Research Project 3 -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/3d_face_reconstruction.png') }}">
                    <span class="card-title custom-card-title">2차원 이미지로부터 3차원 얼굴 복원 연구</span>
                </div>
                <div class="card-content">
                    <p>2024.01 ~ <br>
                        2차원 이미지로부터 3차원 얼굴 메시 생성 연구 <br>
                        3DMM (3D Morphable Model) 기반 3D 얼굴 복원 연구 <br>
                        얼굴 세부 특징 복원을 위해, 얼굴 근육 움직임의 기준인 AU 활용 <br>
                        3D 얼굴 복원을 위한 2D 이미지 전처리 및 3D 얼굴 복원 모델 개발
                    </p>
                </div>
                <div class="card-action">
                    <a href="#" target="_blank">View Project</a>
                </div>
            </div>
        </div>
    </div>

    <h2>Side Projects</h2>
    <div class="row">
        <!-- Side Project 1 -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/better_than_wireframe.png') }}">
                    <span class="card-title custom-card-title">Better Than Project</span>
                </div>
                <div class="card-content">
                    <p>기간 : 2023.03 ~ 2023.12 <br>
                        현 위치 중심의 주변 공공 시설 정보 제공 서비스 <br>
                        공공 데이터 활용 <br>
                        R&R : PM
                    </p>
                </div>
                <div class="card-action">
                    <a href="#" target="_blank">View Project</a>
                </div>
            </div>
        </div>
        <!-- Side Project 2 -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/profitty_wireframe.png') }}">
                    <span class="card-title custom-card-title">Profitty</span>
                </div>
                <div class="card-content">
                    <p>기간 : 2023.12 ~ 2024.01 <br>
                        유휴 운동 시설과 체육 지도자 매칭 서비스 <br>
                        R&R : 디자이너
                    </p>
                </div>
                <div class="card-action">
                    <a href="#" target="_blank">View Project</a>
                </div>
            </div>
        </div>
        <!-- Side Project 3 -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/cafe_wireframe.png') }}">
                    <span class="card-title custom-card-title">카페찾는 부엉이</span>
                </div>
                <div class="card-content">
                    <p>기간 : 2024. 04 ~ 2024.05 <br>
                        현위치 중심의 인근 24시간 카페 및 심야 운영 카페 정보 제공 서비스 <br>
                        R&R : PM
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://coffeezip.vercel.app" target="_blank">View Project</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}